.fklist li h3{font-size: 14px;color: #000;margin-bottom: 10px;width: 100%;font-weight: bold!important}
.yyr li input{border: 0;font-size: 14px;color: #000;text-align: right!important;}


#ruzhu{
	height: 50px;
  width: 50px;
  position: fixed;
  z-index: 66;
  right: 13px;
  bottom: 65px;
}
#headjj{
	width: 100%;
	height: 50px;;
	color: white;;
	line-height: 50px;;

	margin: 0 auto;font-size: 16px;
	text-align: left;;
	position: fixed;;
	text-indent:10%;
	left: 0;
	top: 0px;
	z-index: 10000;
	background: white;

	color: #464646;
/*	font-weight: bold;*/

}
#headjj span{
text-indent: 0;
}
#headjj #zuo{
	height: 26px;;
	left: 3%;
	bottom: 12px;
	width: auto;
	position: absolute;
}
#content{
	width: 100%;
	margin: 0 auto;
	margin-top: 74px;
	overflow: hidden;
background: white;
}
#jia{
	width: 90%;
	background: white;
	height: 260px;
	margin: 0 auto;
	border-radius: 12px;
	position: fixed;
	left: 5%;
	z-index: 200999999999;
	display: none;
	top: 200px;
	box-sizing: border-box;
	padding-top:60px;
	padding-bottom: 20px;
}
.jh{
	height: 20px;
	line-height: 20px;
	width: 94%;

	font-size: 16px;
	color: black;
	position: absolute;
	left: 3%;
	top: 24px;
}
.j{
	height: 80px;
	float: left;
	box-sizing: border-box;
	width: 20%;
	margin-bottom: 10px;
}
.j:nth-of-type(3){
/*	display: none*/
}
.j1{
	height: auto;
display: block;
	width: 60%;
	margin: 0 auto;
}
.j2{
	height: 30px;
	font-size: 14px;
	color: black;
	line-height: 30px;
	text-align: center;
}
.tanchuang{
	z-index: 67999999999;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	display: none;
}
/*toast*/
.aui-toast {
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	border-radius: 5px;
	color: #ffffff;
	position: fixed;
	z-index: 3000;
	top: 200px;
	left: 50%;
	width: 50px;
	height:50px;
	margin-left: -25px;
	font-size: 12px!important
}
.aui-toast .aui-iconfont {
	display: block;
	font-size: 12px;
}
.aui-toast-content {
  margin: 0 0 0px;
}
.aui-toast .aui-toast-loading {
    background-color: #fff;
    border-radius: 100%;
    margin: 10px 0;
    -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    height: 20px;
    width: 20px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 1s 0s linear infinite;
        animation: rotate 1s 0s linear infinite;
}

/*dialog*/
.aui-dialog {
    position: fixed;
	z-index: 12;
	width: 85%;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	      transform: translate(-50%, -50%);
	background-color: #FAFAFC;
	text-align: center;
	border-radius: 3px;
}
.aui-dialog-header {
    padding: 10px 15px 0 15px;
    text-align: center;
    font-size: 12px;
}
.aui-dialog-body {
    padding: 15px;
    overflow: hidden;
    font-size: 12px;
    color: #8f8f94;
}
.aui-dialog-footer {
    position: relative;
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aui-dialog-btn {
	position: relative;
    text-align: center;
    padding: 15px 0;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.aui-dialog-btn:after {
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}
.aui-dialog-btn:first-child:after {
    border-left: 0;
}
.aui-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.aui-list-view:after,
	.aui-dialog-footer:after,
    .aui-dialog-btn:after,
	.aui-list-view:first-child:after,
	.aui-line-x:after,
	.aui-card:after,
	.aui-input-row:first-child:after,
	.aui-input-row:after,
	.aui-btn-row:after,
	.aui-list-view-cell:last-child:after,
	.aui-list-view-cell:after,
	.aui-user-view:after,
	.aui-user-view-cell:last-child:after,
	.aui-user-view-cell:after,
	.aui-grid-nine:after,
	.aui-grid-nine li:after,
	.aui-grid-sixteen:after,
	.aui-grid-sixteen li:after,
	.aui-waterfall li:after {
		right: -100%;
		bottom: -100%;
		-webkit-transform: scale(0.5);
	}
}
/*边框样式*/
.aui-border-t,
.aui-border-b,
.aui-border-l,
.aui-border-r,
.aui-border-tb,
.aui-border {
    position: relative;
}
.aui-border-t:after,
.aui-border-b:after,
.aui-border-l:after,
.aui-border-r:after,
.aui-border-tb:after,
.aui-border:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}
.aui-border-l:after {
    border-left: 1px solid #c8c7cc;
}
.aui-border-r:after {
    border-right: 1px solid #c8c7cc;
}
.aui-border-t:after {
    border-top: 1px solid #c8c7cc;
}
.aui-border-b:after {
    border-bottom: 1px solid #c8c7cc;
}
.aui-border-tb:after {
	border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}
.aui-border:after {
    border:1px solid #c8c7cc;
}
.aui-border.aui-border-radius:after {
    border-radius: 6px;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .aui-border-t:after,
    .aui-border-b:after,
    .aui-border-l:after,
    .aui-border-r:after,
    .aui-border-tb:after,
    .aui-border:after {
        right: -100%;
        bottom: -100%;
        -webkit-transform: scale(0.5);
    }
}
/*基础动画类*/
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    }
}
@-webkit-keyframes bounce {
	0%, 100% {-webkit-transform: scale(0.0) }
	50% {-webkit-transform: scale(1.0)}
}
@keyframes bounce {
	0%, 100% {
	-webkit-transform: scale(0.0);
			transform: scale(0.0);
	}
	50% {
	-webkit-transform: scale(1.0);
			transform: scale(1.0);
	}
}
@-webkit-keyframes fadeIn {
    from { opacity: 0.3; }
    to {  }
}
