/* reset */
html,body,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0; padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block; margin:auto;}
table{border-collapse:collapse; border-spacing:0;}
caption,th{text-align:left; font-weight:normal;}
html,body,img,iframe,abbr{border:0;}
*{ font-family: "微软雅黑";}
i,em{font-style:normal;}
[hidefocus],summary{outline:0;}
summary{display:block;}
ul,li{list-style:none;}
sup,sub{font-size:12px;}
textarea{overflow:auto; }
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,b{font-weight:normal; display:block;}
a:hover{text-decoration:none;color: #2D6BFA;}
a:visited,a:active,a:link{text-decoration:none; color: #666;}
body,textarea,input,button,select,keygen,legend{font:12px/1.5 'Microsoft YaHei', Arial, sans-serif,\5b8b\4f53; color:#666; outline:0;}
html{font-size:10px;}
body{background:#fff; -webkit-transition:none !important; -moz-transition:none !important; -ms-transition:none !important; -o-transition:none !important;}
input[type=submit]{cursor:pointer;}
.clearfix { *zoom: 1;}
.clearfix:before,
.clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after {clear: both;}
.left{float: left;}
.right{float:right;}
img{width: 100%;}

.foot{position: fixed;width: 100%;bottom: 0;background: #fff;}
.foot li{width: 20%;float: left;}
.gj li{float: left;width: 33.33%;}
