.nav{background: #2D6BFA;padding: 15px 0;position: fixed;width: 100%;z-index: 999;top: 0;}
.nav li{float: left;width: 20%;text-align: center;line-height: 40px;}
.nav li a{color: #fff;font-size: 14px;font-weight: bold;}
.nav li a span{display: inline-block;line-height: 38px;border: none!important}
.nav li a b{display: inline-block;width: 30px;height: 30px;line-height: 24px; font-size: 18px;margin-top: 10px; border-radius: 20px;}
.navtx{display: block; border-radius:40px; overflow: hidden; width: 50px;height: 50px;margin-left: 15px;}
.navtx img{width: 100%;}
.pm{padding: 15px 10px 0;margin:auto;}
.pmin{background: #fff;border-radius: 5px;overflow: hidden;}
.pmtitle{padding-right: 10px;line-height: 40px;}
.pmtitle p{display: inline-block; background: linear-gradient(to right,#fec51c, #fdf87b);padding: 0px 20px 0px 10px;border-bottom-right-radius: 40px;}
.pmtitle p span{color: #000;font-size: 20px;font-weight: bold;}
.pmtitle p i{color: #000;font-size: 14px;}
.pmxq{padding: 10px;}
.pmxq ul{margin-bottom: 8px;}
.pmxq li{float: left;width: 32%;margin:0 0.65%;}
.pmxq li img{width: 100%;}
.pmxq .pmleft{width: 60%;float: left;font-size: 14px;line-height: 24px;}
.pmxq .pmright{width: 80px; height:80px; border-radius: 50px;color: #f9f9f9;text-align: center;line-height: 25px; font-size: 12px; float: right;background:linear-gradient(to right,#d5274e, #b11529) ;}

.zhibo{padding: 15px;}
.zbtitle{line-height: 40px;height: 42px;background: #fff;padding-right: 10px;overflow: hidden;}
.zbtitle p{display: inline-block; background: linear-gradient(to right,#fec51c, #fdf87b);padding: 0px 20px 0px 10px;border-bottom-right-radius: 40px;}
.zbtitle p span{color: #000;font-size: 20px;font-weight: bold;}
.zbtitle p i{color: #000;font-size: 14px;}
.zhibolist{background: #fff;border-radius: 5px;}
.zhibolist ul{}
.zhibolist li{float: left;width: 46%;margin:10px 2%; height: 160px;overflow: hidden;position: relative;}
.zhibolist li a > img{position: absolute;width: 100%;height: 100%; top: 0;left: 0;}
.zbzt{position: absolute;top: 5px;left: 5px;color: #fff;}
.zbzt span{background: #ff2c7b;border-radius: 3px;padding: 2px 4px;margin-right: 5px;}
.zbzt span i{display: inline-block; width: 6px;height: 6px;border-radius: 5px;background: #fff;margin-right: 4px;}
.zbbt{position: absolute; bottom:40px;left: 8px;right: 8px; color: #fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zbzb{position: absolute; bottom: 8px;left: 8px;color: #fff;}
.zhibolist .zbzb img{float: left;width: 24px;height: 24px; border-radius: 24px;}
.zhibolist .zbzb span{display: block; float: left;width: 60px; margin-left: 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/**/
.peijian{padding:0 15px;}
.pjzq{background: #fff;}
.pjzq li{border-bottom: 1px solid #f1f1f1;padding: 10px 0;}
.pjin{background: #fff;border-radius: 5px;padding:10px 0;}
.pjin ul{margin:0 1%;}
.pjin li{float: left;width: 30%;margin: 1.5%;background: #fff;}
.pjin li a{display: block;border: 1px solid #dcdcdc;border-radius: 5px;padding: 0 5px;}
.pjin li a img{width: 100%;height: 50px;}
.pjin li a .pjbt{color: #000;font-size: 16px;
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.pjin li p{color: #333;font-size: 12px;line-height: 20px;
display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}


.wuliu li{float: left;width: 31%;margin: 1%;border: 1px solid #dcdcdc;border-radius: 5px;padding: 0 5px;background: #fff;}
.wuliu li a{display: block;}
.wuliu li a img{width: 100%;height: 50px;}
.wuliu li a .pjbt{color: #000;font-size: 16px;
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
.wuliu li p{color: #333;font-size: 12px;line-height: 20px;
display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}

/**/
.zixun{padding:15px;}
.zxlist{background: #fff;border-radius: 5px;padding: 10px 0;}
.zxlist li{border-bottom: 1px solid #f1f1f1;padding: 10px;color: #666;font-size: 14px;}
.zxren{line-height: 30px;}
.zxren a{display: block;float: left;width: 30px;height: 30px;overflow: hidden;border-radius: 30px;margin-right: 10px;}
.zxren img{width: 30px;height: 30px;}
.zxren span{float: left;font-size: 12px;color: #666;}
.zxlist li .zxtext{font-size: 14px;color: #333;line-height: 22px;padding: 5px 0;
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;}
.zxlist li:last-child{border: 0;}
/**/
.gongju{padding:10px;margin-bottom: 50px;}
.gjin{}
.gjin li{float: left;width: 30%; margin: 1.5%; padding: 15px 0; background: #f1f8fe;border-radius: 5px;text-align: center;}
.gjin li img{width: 50%;}
.gjin li p{font-size: 16px;color: #000;margin-bottom: 10px;}
.gjin li span{color: #666;font-size: 12px;}

/**/


.wlbt{color: #666;font-size: 12px;padding: 10px;line-height: 40px;border-top: 5px solid #f1f1f1;}
.wlpx{background: #fff;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;}
.wlpx li{line-height: 40px;text-align: center;float: left;width: 33.33%;}
.wuliulist{background: #fff;padding-top: 10px;margin-bottom: 50px;}
.wuliulist li{position: relative;margin-bottom: 10px;height: 90px;}
.wuliulist li img{width: 120px;height: 80px;float: left;}
.wuliulist li .wlright{position: absolute;height: 90px;left: 130px;right: 10px;border-bottom: 1px solid #f1f1f1;}
.wuliulist li .wlright .p1{color: #000;font-size: 14px;line-height: 24px;
display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.wuliulist li .wlright .p2{color: #999;font-size: 14px;}\


/**/
.sjhead{position: relative;width: 100%;height: 100px;}
.sjname{font-size: 16px;color: #fff;position: absolute;left: 15px;top: 15px;}
.sjbq{position: absolute;left: 15px;top: 45px;}
.sjbq span{background: linear-gradient(to right,#f27c32, #ff4d05);padding: 2px 5px;color: #fff;font-size: 10px;border-radius: 5px;margin-right: 5px;}
.sjdz{position: absolute;left: 15px;top: 70px;color: #fff;font-size: 14px;}
.sj{}
.sj li{width: 46%;margin: 10px 2%;float: left;}
.sj li .sjimg{position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 10px;}
 .sj li .sjimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
.sj li .p1{color: #000;font-size: 14px;
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sj li .p2{color: #f15522;font-size: 14px;}
.sjbottom{position: fixed; bottom: 0; width: 100%;background: #fff;border-top: 1px solid #f1f1f1;}
.sjbottom li{float: left;width: 50%;background: #fff;text-align: center;padding: 5px;}
.sjbottom li img{width: 20px;}
.sjbottom li p{color: #333;font-size: 14px;}

.head2{background: #fff;height: 44px; line-height: 44px;border-bottom: 1px solid #f1f1f1;}
.head2 img{width: 12px;margin-left: 10px;margin-top: 12px;}
.sjxx{border-bottom: 1px solid #f1f1f1;padding: 10px;}
.sjxx a{width: 40px;height: 40px;border-radius: 5px;overflow: hidden;float: left;}
.sjxx a img{width: 40px;height: 40px;}
.sjxx div{float: left;margin-left: 10px;}
.sjxx div .p1{font-size: 14px;color: #000;}
.sjxx div .p2 span{background: linear-gradient(to right,#f27c32, #ff4d05);padding: 2px 5px;color: #fff;font-size: 10px;border-radius: 5px;margin-right: 5px;}
.sptext{padding: 10px;margin-bottom: 50px;}
.sptext p{color: #000;font-size: 14px;}
.sptext img{width: 100%;}

/**/
.pmhead{position: relative;height: 160px;overflow: hidden;}
/*.pmhead img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;}*/
.pmsearch{position: absolute;width: 80%;left: 15%;top: 10px;background: #fff;border-radius: 30px;height: 36px;line-height: 36px;}
.pmsearch select{display: block; float: left;line-height: 36px;margin-top: 10px;margin-left: 10px;}
.pmsearch input{display: block;float: left;color: #999;line-height: 36px;width: 50%;text-align: right;}
.pmsearch input::-webkit-input-placeholder{color: #999;}
.pmgj{background: #2D6BFA;}
.pmgj li{width: 33.33%;float: left;padding: 8px 0;font-size: 14px;text-align: center;}
.pmgj li img{width: 24px;}
.pmgj li a{color: #fff;}/*
.xuan{background: #f1f1f1;padding: 10px 0;}
.xuan table{width: 96%;margin:  auto;border-radius: 10px;}
.xuan table td{border: 1px solid #ececec;background: #fff;padding: 10px; text-align: left;}
.xuan table td p{font-size: 14px;color: #000;}
.xuan table td span{font-size: 12px;color: #666;}
.xuan table tr td:last-child img{width: 50%;}*/
.pmpx{background: #fff;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;}
.pmpx li{line-height: 40px;text-align: center;float: left;width: 25%;}

.pmlieb{background: #fff;margin-bottom: 50px;}
.pmlieb li{position: relative;padding: 10px;height: 110px;}
.pmlieb li img{width: 120px;height: 90px;float: left;border-radius: 5px;}
.pmlieb li .p1{position: absolute;left: 140px;right: 10px;top: 10px; color: #000;font-size: 14px;line-height: 22px;
display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.pmlieb li .p1 span{background: #119e59;color: #fff;font-size: 10px;padding: 2px 4px;border-radius: 3px;margin-right: 4px;}
.pmlieb li .p2{position: absolute;left: 140px;right: 10px;bottom: 10px; color: #e91965;font-size: 14px;}

/**/
.cmppx{background: #f1f1f1;height: 44px;}
.cmppx li{background: #fff;float: left;height: 40px; line-height: 40px; width: 25%;text-align: center;font-size: 14px;color: #000;}
.cmppx li.cur{color: #b32845;border-bottom: 2px solid #b32845;}
.cmplieb{background: #fff;margin-bottom: 50px;}
.cmplieb li{position: relative;height: 100px;padding: 2px 0;}
.cmplieb li img{width: 140px;height:96px;float: left;}
.cmplieb li .cmpright{position: absolute;left: 150px;right: 10px;height:96px;border-bottom: 1px solid #f1f1f1;}
.cmplieb li .cmpright .p1{ color: #000;font-size: 14px;line-height: 22px;
display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cmplieb li .cmpright .p2{color: #999;font-size: 12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.cmplieb li .cmpright .p3{color: #999;font-size: 8px;line-height: 10px;}
.cmplieb li .cmpright .p3 span{margin-right: 5px;}
.cmplieb li .cmpright .p3 .jiag{color: #2c896e;font-size: 20px;}
.chepai{background:#fff;padding: 2px 0; }
.chepai table{width: 90%;margin: auto;}
.chepai table td{border: 1px solid #f1f1f1;text-align: center;}
.chepai table td img{width: 80%;}

/**/
.pmimg{position: relative;width: 100%; height: 0; padding-bottom: 100%; margin-bottom: 10px;}
.pmimg > img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.pmimg a img{position: absolute;top: 10px;width: 16px;left: 10px;}
.chetitle{padding: 10px;}
.chename{color: #333;font-size: 14px;line-height: 24px;height: 48px;width: 80%;float: left;
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.chetitle a{border-left: 1px solid #f1f1f1;text-align: center;float: right;padding: 0 10px;}
.chetitle a img{width: 16px;}
.chetitle a p{font-size: 10px;color: #666;}
.pmjiage{line-height: 10px;padding:0 10px ;}
.pmjiage span{margin-right: 5px;font-size: 10px;color: #999;}
.pmjiage .dqj{color: #b62743;font-size: 20px;}
.pmren{width: 94%;margin: 10px auto;}
.pmren td{color: #666;font-size: 10px;border-right: 1px solid #f1f1f1;}
.pmren td:last-child{border-right: 0px solid #f1f1f1;}
.pmjl{border-top: 10px solid #f1f1f1;border-bottom: 10px solid #f1f1f1;background: #fff;}
.pmbz{width: 100%;padding: 5px 0;border-bottom: 1px solid #f1f1f1;}
.pmbz td{text-align: left;padding-left: 10px;line-height: 30px;color: #666;}
.pmbz td span{display: inline-block;color: #333;width: 66px;}
.pmjs{background: #f1f1f1;height: 44px;border-top: 1px solid #f1f1f1;margin-top: 10px;}
.pmjs li{background: #fff;float: left;height: 40px; line-height: 40px; width: 33.33%;text-align: center;font-size: 14px;color: #000;}
.pmjs li.cur{color: #b32845;border-bottom: 2px solid #b32845;}
.pmjsxq{width: 96%;margin: auto;margin-bottom: 50px;}
.pmbottom{position: fixed;width: 100%;bottom: 0; background: #fff;text-align: center;}
.pmbottom table{width: 100%;}
.pmbottom table img{width: 16px;margin-top: 6px;}
.pmbottom table p{color: #666;font-size: 14px;}
.pmbottom table a span{display: block;line-height: 50px;height: 50px;color: #fff;font-size: 18px;border-top-left-radius:30px;border-bottom-left-radius:30px;  background: linear-gradient(to right,#de3556, #b61b2f);}

.slideTxtBox{width: 100%;margin-bottom: 60px;}
.slideTxtBox .hd{}
.slideTxtBox .hd li{float: left;width: 50%; font-size: 14px;color: #333;text-align: center;line-height: 40px;}
.slideTxtBox .hd li.on span{color: #2D6BFA;border-bottom: 2px solid #2D6BFA;padding: 0 10px;}
.slideTxtBox .bd{background: #fff;}
.slideTxtBox .bd{}
.slideTxtBox .bd li{border-bottom: 1px solid #f1f1f1;padding: 10px;position: relative;height: 90px;}
.didian{font-size: 14px;color: #333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.didian span{font-size: 14px;color: black;margin-right: 8px;}
.didian i{font-size: 16px;color: #333;margin-right: 8px;}
.slideTxtBox .bd li p{font-size: 12px;color: #333;margin-top: 5px;}
.slideTxtBox .bd li p span{color: #f38c0d;margin-right: 5px;}
.slideTxtBox .bd li p i{padding: 0 10px;}
.slideTxtBox .bd li a{position: absolute;background: #007AFF; border-radius: 20px;color: #fff;font-size: 14px;right: 10px;top: 30px;line-height: 30px;padding: 0 8px;}
/*.slideTxtBox .bd .hzc{}
.slideTxtBox .bd .hzc li{border-bottom: 1px solid #f1f1f1;padding: 10px;position: relative;height: 90px;}
.slideTxtBox .bd .hzc li p{font-size: 12px;color: #333;margin-top: 5px;}
.slideTxtBox .bd .hzc li p span{color: #ffba65;margin-right: 5px;}
.slideTxtBox .bd .hzc li p i{padding: 0 10px;}
.slideTxtBox .bd .hzc li a{position: absolute;background: #007AFF; border-radius: 20px;color: #fff;font-size: 14px;right: 10px;top: 30px;line-height: 30px;padding: 0 8px;}*/

.slideTxtBox2{width: 100%;margin-bottom: 50px;background: #fff;}
.slideTxtBox2 .hd li{float: left;width: 33.33%; font-size: 14px;color: #333;text-align: center;line-height: 40px;}
.slideTxtBox2 .hd li.on span{color: #2D6BFA;border-bottom: 2px solid #2D6BFA;padding: 0 5px;}
